﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

<div class="result-content">
    <div class="row customer-act act">
        <div class="col-md-5">
            <h2>Danh sách hóa đơn</h2>
        </div>
        <div class="col-md-7 text-right action">
            <button class="btn btn-primary" onclick="cms_load_importware()"><i class="fa fa-desktop" aria-hidden="true"></i> Bán hàng</button>
            <button class="btn btn-success"><i class="fa fa-sign-out" aria-hidden="true"></i> Xuất file</button>
        </div>
    </div>
    <div class="row filter-search">
        <div class="col-md-4 form-group">
            <input type="text" name="txtwarehousing" class="form-control" placeholder="Nhập mã phiếu nhập để tìm kiếm">
        </div>
        <div class="col-md-4 p-0">
            <div class="input-group">
                <input type="date" class="form-control">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">Đến</span>
                </div>
                <input type="date" class="form-control" aria-describedby="inputGroupPrepend">
            </div>
        </div>
        <div class="col-md-1 form-group">
            <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm</button>
        </div>
        <div class="col-md-3">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary">Tuần</button>
                <button type="button" class="btn btn-outline-primary">Qúy</button>
                <button type="button" class="btn btn-outline-primary">Năm</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" id="table-child-event">
                <thead class="table-primary">
                    <tr>
                        <th></th>
                        <th>Mã Hóa Đơn</th>
                        <th>Thời gian</th>
                        <th>Tổng tiền</th>
                        <th>Ghi chú</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody id="list-bills">
                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
     retrieveBill();

    function retrieveBill() {
        $.ajax({
            url: "/BillDetail/RetrieveBillDetail",
            method: "GET",
            success: function (bills) {
                if (bills) {
                    for (var bill of bills) {
                        appendListBills(bill)
                    }
                }
            }
        })
    }

    function appendListBills(bill) {
        var billStatus = "";
        if (bill.BillStatus == 0) {
            billStatus = "Đã thanh toán";
        } else {
            billStatus = "Chưa thanh toán";
        }

        $("#list-bills tr").remove();

        $("#list-bills").append(`<tr class="not-detail">
                        <td data-toggle="collapse" data-target="#collapse-DH001" aria-expanded="false" aria-controls="collapse-DH001" class="collapsed">
                            <i class="fa fa-plus-circle text-success" aria-hidden="true"></i>
                        </td>
                        <td>DH0${bill.billId}</td>
                        <td>${bill.Created}</td>
                        <td>${bill.TotalPrice}</td>
                        <td></td>
                        <td>${billStatus}</td>
                    </tr>`)

        $("#list-bills").append(`<tr class="tr-detail td-detail collapse" id="collapse-DH001" style="">
                        <td colspan="8">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Thông tin chi tiết</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row form-group">
                                                <label class="col-md-4">
                                                    Mã hóa đơn
                                                </label>
                                                <div class="col-md-8">
                                                    <strong>DH0${bill.billId}</strong>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-md-4">
                                                    Bàn
                                                </label>
                                                <div class="col-md-8">
                                                    <strong>${bill.TableName}</strong>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-md-4">
                                                    Thời gian
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="" disabled="disabled" class="form-control" value=${bill.Created}>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row form-group">
                                                <label class="col-md-4">
                                                    Nhân Viên
                                                </label>
                                                <div class="col-md-8">
                                                    <strong>${bill.EmployeeName}</strong>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-md-4">
                                                    Khách hàng
                                                </label>
                                                <div class="col-md-8">
                                                    <strong>${bill.CustomerName}</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <textarea rows="4" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-success">
                                            <tr>
                                                <th>Mã Sản phẩm</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Số lượng</th>
                                                <th>Giá bán</th>
                                                <th>Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody id="list-products">
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>`);

        appendListProduct(bill.Products);
    }

    function appendListProduct(products) {
        $("#list-products tr").remove();

        for (var product of products) {
            $("#list-products").append(`
                                        <tr>
                                            <td>M0${product.productId}</td>
                                            <td>${product.productName}</td>
                                            <td>${product.quantity}</td>
                                            <td>${product.price}</td>
                                            <td>${product.total}</td>
                                        </tr>`)
                               
        }
    }

</script>

