﻿
@{
    ViewBag.Title = "Schedule";
}

<div class="header-cashier">
    <div class="container-fluid">
        <div class="row ft-tabs">
            <div class="col-md-3">
                <ul class="tabs-list">
                    <li><a id="tab-table" href="#" class="active" data="listtable">Khu vực - Bàn</a></li>
                    <li><a id="tab-menu" href="#" data="pos">Thực đơn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <input type="hidden" id="employeeId" value='@Session["Id"]' />
    <div class="row content">
        <div class="col-md-6" id="table">
            <div class="row list-filter">
                <div id="area-list" class="col-md list-filter-content">

                </div>
            </div>
            <div class="row table-list">
                <div class="col-md table-list-content">
                    <ul id="table-list"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="menu" hidden="true">
            <div class="row list-filter">
                <div class="col-md list-filter-content" id="category-list">
                    <button class="btn btn-primary active" onclick="cms_load_cate(0);">đồ ăn</button>
                </div>
            </div>
            <div class="row product-list">
                <div class="col-md product-list-content">
                    <ul id="menu-list"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 content-listmenu" id="content-listmenu">
            <div class="row" id="bill-info">
                <div class="col-md-2 table-infor">

                </div>
                <div class="col-md-5">
                    <div class="col-md-12 p-0 input-group">
                        <select id="list-customer" class="form-control">
                            <option value="0">Danh sách khách hàng</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <select class="form-control">
                        <option value="1">Bảng giá chung</option>
                    </select>
                </div>
            </div>
            <div class="row bill-detail">
                <div class="col-md-12 bill-detail-content">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Giá bán</th>
                                <th scope="col">Thành Tiền</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="list-menu-item-card"></tbody>
                    </table>
                </div>
            </div>
            <div class="row bill-action">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 p-1">
                            <textarea id="noteCustomer" class="form-control" id="note-order" placeholder="Nhập ghi chú hóa đơn" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6 p-1">
                            <button type="button" class="btn-print" onclick="cms_save_table()"><i class="fa fa-credit-card" aria-hidden="true"></i> Thanh Toán (F9)</button>
                        </div>
                        <div class="col-md-6 col-xs-6 p-1">
                            <button type="button" class="btn-pay" onclick="saveBill()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu (F10)</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row form-group">
                        <label class="col-form-label col-md-4"><b>Tổng cộng</b></label>
                        <div class="col-md-8">
                            <input id="total-money" type="text" value="0" class="form-control total-pay" disabled="disabled">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-form-label col-md-4"><b>Khách Đưa</b></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control customer-pay" value="0" placeholder="Nhập số điền khách đưa">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-form-label col-md-4"><b>Tiền thừa</b></label>
                        <div class="col-md-8 excess-cash">
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var products = [];
    var selectedTableId = null;

    retrieveArea();
    retrieveCategories();
    showListCustomer();

    function retrieveArea() {
        $.ajax({
            url: "/Areas/RetrieveArea",
            method: "GET",
            success: function (areas) {
                $("#area-list button").remove();

                for (area of areas) {
                    $("#area-list").append(`<button class="btn btn-primary" onclick="retrieveTableByAreaId(${area.Id})">${area.Name}</button>`);
                }
            }
        })
    }

    function retrieveTableByAreaId(areaId) {
        $.ajax({
            url: "/Table/RetrieveTableByAreaId",
            method: "GET",
            data: {
                AreaId: areaId
            },
            success: function (tables) {
                $("#table-list li").remove();

                for (table of tables) {
                    $("#table-list").append(`<li id="table-${table.Id}" onclick="selectedTable(${table.Id})">${table.Name}</li>`);
                }
            }
        })
    }

    $('.ft-tabs .tabs-list li a').click(function () {
        $('.ft-tabs .tabs-list li a').removeClass('active');
        $(this).addClass('active');

        var tab = $(this).attr('data');

        if (tab == 'listtable') {
            $('#table').attr('hidden', false);
            $('#menu').attr('hidden', true);
        } else {
            $('#table').attr('hidden', true);
            $('#menu').attr('hidden', false);
        }
    });

    function retrieveCategories() {
        $.ajax({
            url: "/Category/RetrieveCategory",
            method: "GET",
            success: function (categories) {
                $("#category-list button").remove();

                for (categorie of categories) {
                    $("#category-list").append(`<button class="btn btn-primary" onclick="retrieveMenuByCategoryId(${categorie.Id})">${categorie.Name}</button>`);
                }
            }
        })
    }

    function retrieveMenuByCategoryId(categoryId) {
        $.ajax({
            url: "/Menu/RetrieveMenuByCategoryId",
            method: "GET",
            data: {
                CategoryId: categoryId
            },
            success: function (mennus) {
                $("#menu-list li").remove();

                for (menu of mennus) {
                    $("#menu-list").append(`<li onclick="appendMenuItemToCard(${menu.Id}, '${menu.Name}', ${menu.Price})">
                            <a title=${menu.Name}>
                                <div class="img-product">
                                    <img src=${menu.Image_path}>
                                </div>
                                <div class="product-info">
                                    <span class="product-name">${menu.Name}</span><br>
                                    <strong>${menu.Price}</strong>
                                </div>
                            </a>
                        </li>`);
                }
            }
        })
    }

    function getTotalPrice(products) {
        var sum = 0;
        for (var product of products) {
            sum = sum + product.priceItem * product.quantity;
        }

        return sum;
    }

    function appendMenuItemToCard(id, name, price) {
        var product = _.find(products, (p) => {
            return p.idItem == id;
        });

        if (product) {
            product.quantity = product.quantity + 1;
        } else {
            product = {
                idItem: id,
                nameItem: name,
                priceItem: price,
                quantity: 1
            }

            products.push(product);
        }

        renderListMenuItem();
    }

    function renderListMenuItem() {
        var total = getTotalPrice(products);

        $("#list-menu-item-card tr").remove();
        for (product of products) {
            $("#list-menu-item-card").append(`<tr id="M0${product.idItem}">
                                <td>M0${product.idItem}</td>
                                <td>${product.nameItem}</td>
                                <td>
                                    <div class="input-group spinner">
                                        <button class="input-group-prepend btn btn-default"><i class="fa fas fa-minus"></i></button>
                                        <input type="text" class="form-control quantity-product-oders" name="" value=${product.quantity}>
                                        <button class="input-group-prepend btn btn-default"><i class="fa fas fa-plus"></i></button>
                                    </div>
                                </td>
                                <td><input type="text" class="form-control price-order" disabled="disabled" name="" value=${product.priceItem}></td>
                                <td class="text-center total-money">${product.priceItem}</td>
                                <td class="text-center">
                                    <i class="fa fa-times-circle del-pro-order" onclick="removeItemCard(${product.idItem})"></i>
                                </td>
                            </tr>`)
        }

        $("#total-money").val(total);
    }

    function removeItemCard(id) {
        _.remove(products, (product) => {
            return product.idItem == id;
        });

        renderListMenuItem();
    }

    function showListCustomer() {
        $.ajax({
            url: "/Customer/RetrieveCustomer",
            method: "GET",
            success: function (customers) {
                if (customers) {
                    for (customer of customers) {
                        appendListCustomer(customer);
                    }
                }
            }
        })
    }

    function appendListCustomer(customer) {
        $("#list-customer").append(`<option  value=${customer.Id}>${customer.Name}</option>`);
    }

    function selectedTable(tableId) {
        selectedTableId = tableId;

        $('#table-list li').removeClass('active');
        $(`#table-${tableId}`).addClass('active');


        $('#table').attr('hidden', true);
        $('#menu').attr('hidden', false);

        $("#tab-table").removeClass("active");
        $("#tab-menu").addClass("active");
    }


    function saveBill() {
        var customerId = $("#list-customer").val();
        var totalMoney = $("#total-money").val();
        var Note = $("#noteCustomer").val();
        var employeeId = $("#employeeId").val();

        $.ajax({
            url: "/Bill/CreateBill",
            method: "POST",
            data: {
                TableId: selectedTableId,
                EmployeeId: employeeId,
                CustomerId: customerId,
                TotalPrice: totalMoney,
                Note: Note,
                BillStatus: 0
            },
            success: function (bill) {
                if (bill.BillId) {
                    createBillDetail(bill.BillId);
                    alert("Lưu hóa đơn thành công");
                }
            }
        })
    }

    function createBillDetail(billId) {
        for (var product of products) {
            $.ajax({
                url: "/BillDetail/CreatBillDetail",
                method: "POST",
                data: {
                    BillId: billId,
                    MenuId: product.idItem,
                    Quantity: product.quantity,
                    Price: product.priceItem
                }
            })
        }
    }
</script>
