﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

<div class="result-content">
    <div class="row customer-act act">
        <div class="col-md-5">
            <h2>Khách hàng</h2>
        </div>
        <div class="col-md-7 text-right action">
            <button class="btn btn-success" data-toggle="modal" data-target="#AddCustomerModal"><i class="fa fa-plus" aria-hidden="true"></i> Tạo KH</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="row filter-search">
                    <div class="col-md-5 form-group">
                        <input type="text" name="txtcustomer" class="form-control" placeholder="Nhập tên, mã khách hàng">
                    </div>
                    <div class="col-md-3 form-group">
                        <select class="form-control">
                            <option>Tất cả</option>
                            <option>Còn nợ</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered">
                            <thead class="table-primary">
                                <tr>
                                    <th>Mã KH</th>
                                    <th>Tên Khách Hàng</th>
                                    <th>Điện thoại</th>
                                    <th>Email</th>
                                    <th>Địa chỉ</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="AddCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm khách hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Tên khách hàng</b>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="nameCustomer" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Số điện thoại</b>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="phoneCustomer" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Email</b>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="emailCustomer" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Địa chỉ</b>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="addressCustomer" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Ảnh đại diện</b>
                        </div>
                        <div class="col-md-8">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="addCustomer()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button>
                    <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i> Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    retrieveCustomer();

    function retrieveCustomer() {
        $.ajax({
            url: "/User/RetrieveCustomer",
            method: "GET",
            success: function (users) {
                $("tbody tr").remove();

                for (var user of users) {
                    $("tbody").append(`<tr>
                                    <td>KH-${user.Id}</td>
                                    <td>${user.Name}</td>
                                    <td>${user.Phone}</td>
                                    <td>${user.Email}</td>
                                    <td>${user.CustomerAddress}</td>
                                    <td><i class="fa fa-trash" aria-hidden="true" onlick="cms_del_cus(KH001)"></i> <i class="fa fa-pencil-square-o" aria-hidden="true" onlick="cms_edit_cus(KH001)"></i></td>
                                </tr>`)
                }
            }
        })
    }

    function addCustomer() {
        var nameCustomer = $("input[name='nameCustomer']").val(),
            phoneCustomer = $("input[name='phoneCustomer']").val(),
            emailCustomer = $("input[name='emailCustomer']").val(),
            addressCustomer = $("input[name='addressCustomer']").val();

        $.ajax({
            url: "/User/AddCustomer",
            method: "POST",
            data: {
                Name: nameCustomer,
                Phone: phoneCustomer,
                Email: emailCustomer,
                CustomerAddress: addressCustomer
            },
            success: function (customer) {
                if (customer) {
                    $("#AddCustomerModal").modal('hide');
                    retrieveCustomer();
                }
            }
        })
    }
</script>