﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/font-awesome/css/font-awesome.css">
    <script type="text/javascript" src="~/Assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Assets/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Assets/js/bootbox.min.js"></script>
</head>
<body>
    <div class="header-admin">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav navbar-nav float-right">
                        <li class=" dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Xin chào @Session["name"]</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Đăng xuất</a>
                                <a class="dropdown-item" href="#">Tài khoản</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>	<div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar sidebar-fixed" id="sidebar">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="dashboard" class="active"><i class="fa fa-eye" aria-hidden="true"></i>Tổng quan</a>
                        </li>
                        <li class="list-group-item"><a href="orders" class=""><i class="fa fa-shopping-cart" aria-hidden="true"></i>Hóa đơn</a></li>
                        <li class="list-group-item"><a href="/Table/Index"><i class="fa fa-table" aria-hidden="true"></i>Bàn</a></li>
                        <li class="list-group-item"><a href="/Customer/Index"><i class="fa fa-users" aria-hidden="true"></i>Khách hàng</a></li>
                        <li class="list-group-item"><a href="/Menu/Index"><i class="fa fa-list-alt" aria-hidden="true"></i>Thực đơn</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="alert-login">

    </div>
</body>
</html>