﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

<div class="result-content">
    <div class="row customer-act act">
        <div class="col-md-5">
            <h2>Khách hàng</h2>
        </div>
        <div class="col-md-7 text-right action">
            <button class="btn btn-success" data-toggle="modal" data-target="#AddCustomerModal"><i class="fa fa-plus" aria-hidden="true"></i> Tạo KH</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="row filter-search">
                    <div class="col-md-5 form-group">
                        <input type="text" id="txtSearchCustomer" class="form-control" placeholder="Nhập tên, mã khách hàng">
                    </div>
                    <div class="col-md-3 form-group">
                        <select class="form-control">
                            <option>Tất cả</option>
                            <option>Còn nợ</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        <button class="btn btn-primary" onclick="searchCustomer()"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered">
                            <thead class="table-primary">
                                <tr>
                                    <th>Mã KH</th>
                                    <th>Tên Khách Hàng</th>
                                    <th>Điện thoại</th>
                                    <th>Email</th>
                                    <th>Địa chỉ</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="AddCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CustomerTitleModal">Thêm khách hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Tên khách hàng</b>
                        </div>
                        <div class="col-md-8">
                            <input type="hidden" name="idCustomer" class="form-control">
                            <input type="text" name="nameCustomer" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Số điện thoại</b>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="phoneCustomer" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Email</b>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="emailCustomer" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Địa chỉ</b>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="addressCustomer" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Ảnh đại diện</b>
                        </div>
                        <div class="col-md-8">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="saveCustomer()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button>
                    <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i> Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    retrieveCustomer();

    var isCreated = true;

    function appendCustomerList(customers) {
        $("tbody tr").remove();

        for (var customer of customers) {
            $("tbody").append(`<tr>
                                <td>KH-${customer.Id}</td>
                                <td>${customer.Name}</td>
                                <td>${customer.Phone}</td>
                                <td>${customer.Email}</td>
                                <td>${customer.CustomerAddress}</td>
                                <td><i class="fa fa-trash" aria-hidden="true" onclick="deleteCustomer(${customer.Id})"></i>
                                    <i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal"
                                    data-target="#AddCustomerModal" onclick="getDetailCustomer(${customer.Id})"></i>
                                </td>
                            </tr>`)
        }
    }

    function retrieveCustomer() {
        $.ajax({
            url: "/Customer/RetrieveCustomer",
            method: "GET",
            success: function (customers) {

                appendCustomerList(customers)
            }
        })
    }

    function clearDataModal() {
        $("#CustomerTitleModal").text("Thêm khách hàng");
        $("input[name='nameCustomer']").val("");
        $("input[name='phoneCustomer']").val("");
        $("input[name='emailCustomer']").val("");
        $("input[name='addressCustomer']").val("");
    }

    function saveCustomer() {
        var url = "";

        if (isCreated) {
            url = "/Customer/AddCustomer";
        } else {
            url = "/Customer/EditCustomer";
        }

        var idCustomer = $("input[name='idCustomer']").val(),
            nameCustomer = $("input[name='nameCustomer']").val(),
            phoneCustomer = $("input[name='phoneCustomer']").val(),
            emailCustomer = $("input[name='emailCustomer']").val(),
            addressCustomer = $("input[name='addressCustomer']").val();

        $.ajax({
            url: url,
            method: "POST",
            data: {
                Id: idCustomer,
                Name: nameCustomer,
                Phone: phoneCustomer,
                Email: emailCustomer,
                CustomerAddress: addressCustomer
            },
            success: function (customer) {
                if (customer) {
                    $("#AddCustomerModal").modal('hide');
                    retrieveCustomer();
                }
            }
        })
    }

    function deleteCustomer(customerId) {
        bootbox.confirm({
            message: "Bạn có chắc chắn muốn xóa KH-" + customerId + " không?",
            buttons: {
                confirm: {
                    label: 'Đồng ý',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hủy bỏ',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: "/Customer/DeleteCustomer/" + customerId,
                        method: "POST",
                        dataType: 'json',
                        success: function (customer) {
                            if (customer) {
                                alert("Bạn đã xóa thành công");
                                retrieveCustomer();
                            }
                        }
                    })
                }
            }
        });
    }

    function getDetailCustomer(customerId) {
        isCreated = false;

        $.ajax({
            url: "/Customer/getCustomerDetail/" + customerId,
            method: "GET",
            dataType: 'json',
            success: function (customer) {
                if (customer) {
                    $("input[name='idCustomer']").val(customer.Id),
                    $("input[name='nameCustomer']").val(customer.Name);
                    $("input[name='phoneCustomer']").val(customer.Phone);
                    $("input[name='emailCustomer']").val(customer.Email);
                    $("input[name='addressCustomer']").val(customer.CustomerAddress);
                    $("#CustomerTitleModal").text("Cập nhật khách hàng");
                }
            }
        })
    }

    $("#AddCustomerModal").on("hidden.bs.modal", function () {
        clearDataModal();
        isCreated = true;
    });

    function searchCustomer() {
        var txtSearch = $("#txtSearchCustomer").val();

        $.ajax({
            url: "/Customer/searchCustomer",
            method: "GET",
            data: {
                textSearch: txtSearch
            },
            dataType: 'json',
            success: function (customers) {

                appendCustomerList(customers);
            }
        })
    }
</script>