﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đăng kí";
}

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Chào mừng</h3>
            <p>Phần mềm quản lý cafe Cao Phương - 1711217</p>
            <a class="btn-login" href="Index">Đăng nhập</a>
        </div>
        <div class="col-md-9 register-right">
            <h3 class="register-heading">Đăng kí nhân viên</h3>
            <div class="row register-form">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Họ và tên *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Mật khẩu *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Nhập lại mật khẩu *" value="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Điện thoại" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Địa chỉ" value="" />
                    </div>
                    <input type="submit" class="btnRegister" value="Đăng kí" />
                </div>
            </div>
        </div>
    </div>
</div>

