﻿
@{
    ViewBag.Title = "Danh sách bàn";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

<div class="result-content">
    <div class="row act">
        <div class="col-md-5">
            <h2>Bàn</h2>
        </div>
        <div class="col-md-7 text-right action">
            <button class="btn btn-success" data-toggle="modal" data-target="#ModelTable"><i class="fa fa-plus" aria-hidden="true"></i> Thêm bàn</button>
            <button class="btn btn-success" data-toggle="modal" data-target="#ModalAddArea"><i class="fa fa-list" aria-hidden="true"></i> Thêm khu vực</button>
            <button class="btn btn-success">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Nhập file
            </button>
            <button class="btn btn-success">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Xuất file
            </button>
        </div>
    </div>
    <div class="row filter-search">
        <div class="col-md-5 form-group">
            <input type="text" name="txtproductname" placeholder="Nhập mã hoặc tên bàn" class="form-control">
        </div>
        <div class="col-md-2 form-group p-0">
            <select class="form-control">
                <option>Tầng trệt</option>
                <option>Sân vường</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <select class="form-control">
                <option>Tất cả</option>
                <option>Hoạt động</option>
                <option>Ngừng hoạt động</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm</button>
        </div>
    </div>
    <div class="row content-table">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>Tên bàn</th>
                        <th>Khu vực</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody id="load_pagination_table">
                    
                    
                </tbody>
            </table>
            
        </div>
    </div>
    <!-- Modal add table -->
    <div class="modal fade" id="ModelTable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TableTitleModal">Thêm bàn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Tên bàn</b>
                        </div>
                        <div class="col-md-8">
                            <input type="hidden" name="idTable" class="form-control">
                            <input type="text" name="nameTable" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Khu vực</b>
                        </div>
                        <div class="col-md-8">
                            <select id="areaTable" class="form-control" name="areas-id"></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Trạng thái hoạt động</b>
                        </div>
                        <div class="col-md-8">
                            <select id="statusTable" class="form-control" name="areas-id">
                                <option class="statusTable" value="1">đang hoạt động</option>
                                <option class="statusTable" value="0">ngừng hoạt động</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="saveTable()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button>
                    <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i> Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    retrieveTable();
    retrieveArea();
    var isCreated = true;

    function appendTableList(tables) {
        $("tbody tr").remove();

        for (var table of tables) {
            var status = "";
            if (table.TableStatus == 1) {
                status = "đang hoạt động";
            } else {
                status = "ngưng hoạt động"
            }
            $("tbody").append(`<tr data-toggle="collapse" data-target="#collapse-${table.Id}" aria-expanded="false" aria-controls="collapse">
                        <td>${table.Name}</td>
                        <td>${table.AreaName}</td>
                        <td>${status}</td>
                    </tr>`);

            $("tbody").append(`<tr class="collapse tr-detail table-detail" id="collapse-${table.Id}">
		      					<td colspan="5">
		      						<ul class="nav nav-tabs" id="myTab" role="tablist">
									  	<li class="nav-item">
									    	<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Thông tin</a>
									  	</li>
									</ul>
									<div class="tab-content" id="myTabContent">
									  	<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
									  		<div class="row form-group">
									  			<div class="col-md-4">
									  				Tên Bàn
									  			</div>
									  			<div class="col-md-8">
									  				${table.Name}	
                                                </div>
	                        				</div>
	                        				
	                        				
	                        				</div>
	                        				<div class="row form-group">
									  			<div class="col-md-4">
									  				Nhóm
									  			</div>
									  			<div class="col-md-8">
									  				${table.AreaName}								  			
                                                </div>
	                        				</div>
	                        				<div class="row">
	                        					<div class="col-md-12 text-right">
	                        						<button onclick="getDetailTable(${table.Id})" class="btn btn-success" data-toggle="modal" data-target="#ModelTable"><i class="fa fa-check-square" aria-hidden="true"></i>Cập nhật</button>
	                        						<button class="btn btn-danger" onclick="deleteTable(${table.Id})"><i class="fa fa-trash-o" aria-hidden="true"></i>Xóa</button>
	                        					</div>
	                        				</div>
										</div>
									</div>
		      					</td>
		      				</tr>`)
        }
    }

    function retrieveTable() {
        $.ajax({
            url: "/Table/RetrieveTable",
            method: "GET",
            success: function (tables) {
                appendTableList(tables);
            }
        })
    }

    function retrieveArea() {
        $.ajax({
            url: "/Areas/RetrieveArea",
            method: "GET",
            success: function (areas) {
                $("#areaTable option").remove();
                $("#areaTable").append(`<option value="0">Chọn phòng bàn</option>`);

                for (area of areas) {
                    $("#areaTable").append(`<option class="areaTable" value="${area.Id}">${area.Name}</option>`)
                }           
            }
        })
    }


    function getDetailTable(tableId) {
        isCreated = false;

        $.ajax({
            url: "/Table/getTableDetail/" + tableId,
            method: "GET",
            dataType: 'json',
            success: function (table) {
                if (table) {
                    $("input[name='idTable']").val(table.Id);
                    $("input[name='nameTable']").val(table.Name);
                    if (table.TableStatus == 1) {
                        $("#statusTable").val(1);
                    } else if (table.TableStatus == 0) {
                        $("#statusTable").val(0);
                    }
                    $("#areaTable").val(table.AreaId);
                }
            }
        })
    }

    function saveTable() {
        if (isCreated) {
            url = "/Table/AddTable";
        } else {
            url = "/Table/EditTable";
        }

        var idTable = $("input[name='idTable']").val(),
            nameTable = $("input[name='nameTable']").val(),
            areaTable = $("#areaTable").val(),
            statusTable = $("#statusTable").val();

        $.ajax({
            url: url,
            method: "POST",
            data: {
                Id: idTable,
                Name: nameTable,
                AreaID: areaTable,
                TableStatus: statusTable
            },
            success: function (isSuccess) {
                if (isSuccess) {
                    $("#ModelTable").modal('hide');
                    retrieveTable();
                }
            }
        })
    }

    function clearDataModal() {
        $("#TableTitleModal").text("Thêm khách hàng");
        $("input[name='nameTable']").val("0");
        $("input[name='areaTable']").val("0");
    }

    $("#ModelTable").on("hidden.bs.modal", function () {
        clearDataModal();
        isCreated = true;
    });


    function deleteTable(tableId) {
        bootbox.confirm({
            message: "Bạn có chắc chắn muốn xóa Bàn-" + tableId + " không?",
            buttons: {
                confirm: {
                    label: 'Đồng ý',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hủy bỏ',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: "/Table/DeleteTable/" + tableId,
                        method: "POST",
                        dataType: 'json',
                        success: function (isSuccess) {
                            if (isSuccess) {
                                alert("Bạn đã xóa thành công");
                                retrieveTable();
                            }
                        }
                    })
                }
            }
        });
    }
</script>

