html{
	height: 100%;
}
.table td, .table th{
	padding: 5px 10px;
}
body {
    height: 100% !important;
}
/* CSS ADMIN */
.header-admin{
	background: #0B87C9;
}
.header-admin .nav-link{
	color: #fff;
}

.imagePreview {
    display: block;
    width: 50%;
    margin-top: 20px;
}

.sidebar {
    height: 100%;
    background: #f2f2f2;
}
.sidebar .list-group .list-group-item{
	background: #f2f2f2;
	padding: 0;
}
.sidebar .list-group .list-group-item a{
	display: block;
	color: #464646;
	font-size: 14px;
	padding: 10px 20px;
}
.sidebar .list-group .list-group-item a.active{
	color: #0B87C9;
	border-right:2px solid #0B87C9;
}
.sidebar .list-group .list-group-item a:hover{
	color: #0B87C9;
	border-right:2px solid #0B87C9;
	text-decoration: none;
}
.sidebar .list-group .list-group-item a .fa{
	padding-right: 10px;
}
.result-content h2{
	color: #307ECC;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}
.result-content .action{
	line-height: 47px;
}
.result-content .filter-search{
	padding:10px 0px;
}
.jumbotron{
	padding:15px 10px;
	margin: 0;
}
.lighter {
	font-size:20px;
	color: #4383B4;
	font-weight: lighter;
	padding:10px 10px;
	border-bottom:  1px solid #4383B4;
}
.lighter .fa{
	color:blue;
}
.result-content table .fa{
	padding-right: 10px;
	font-size: 14px;
	cursor: pointer;
}
.result-content table .tr-detail{
	border-color:#65bd0b !important;
}
.input-group .btn{
	border-radius:0px;
}
.bill-detail-content{
	height: 350px;
	overflow:auto;
}
.bill-action .btn-pay{
	width: 100%;
	padding:20px 10px;
	text-align: center;
	background: #4BAC4D;
	border: none;
	color:#fff;
	font-size:16px;
	cursor: pointer;
}
.bill-action .btn-print{
	width: 100%;
	padding:20px 10px;
	text-align: center;
	background: #F23D6C;
	border: none;
	color:#fff;
	font-size:16px;
	cursor: pointer;
}
.bill-action .total-pay{
	color: red;
	font-size: 20px;
	font-weight: bold;
}
#result-customer{
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	width:100%;
	max-height: 300px;
	overflow: auto;
	background: #fff;
	z-index: 1000;
}
#result-customer ul li{
	cursor: pointer;
}
.del-customer{
	position: absolute;
	right: 45px;
	color: red;
	top: 5px;
	z-index: 1000;
	cursor: pointer;
}
#content-listmenu .bill-action{
	background: #E7EAED;
}
/* CSS POS */
.header-cashier{
	background:#0B87C9;
	padding-top:10px;
}
.header-cashier .tabs-list{
	padding:0;
	margin:0;
	list-style: none;
}
.header-cashier .tabs-list li{
	float: left;
}
.header-cashier .tabs-list li a{
	display: block;
	padding: 10px 15px;
	font-size: 16px;
	font-weight:normal;
	color: #fff;
}
.header-cashier .tabs-list li a.active{
	background: #F0F8FF;
	color: #222;
}
.header-cashier .tabs-list li a:hover{
	text-decoration: none;
}
.header-cashier .search-wrap .fa{
	position: absolute;
	top:10px;
	left:20px;
	color: #999;
	font-weight:300px;
}
.header-cashier .search-wrap input{
	padding-left: 40px;
}
.header-cashier #result-menu-post{
	display: none;
	width:100%;
	position: absolute;
	left: 20px;
	top:40px;
	z-index: 1000;
}
.list-filter .list-filter-content{
	padding-top:20px;
	margin-bottom: 20px;
}
.table-list .table-list-content ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#bill-info{
	padding-top: 15px;
	padding-bottom: 15px;
}
#pro_search_append .del-pro-order{
	color: #F45564;
	cursor: pointer;
}
.table-list .table-list-content ul li{
	float: left;
	line-height: 70px;
	margin:6px;
	height: 70px;
	background: gray;
	color: #fff;
	border-radius:3px;
	width: calc(100% * (1/6) - 12px );
	cursor: pointer;
	text-align: center;
	position: relative;
	vertical-align: middle;
}
.table-list .table-list-content ul li.tb-active{
	background:#FF5823;
}
.table-list .table-list-content ul li.inused{
	background:#F94646;
}
.product-list .product-list-content ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.product-list .product-list-content ul li{
	float: left;
	margin:6px;
	width: calc(100% * (1/4) - 12px );
	padding: 5px;
}
.product-list .product-list-content ul li:hover{
	background-color: rgba(255,255,255,.5);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.product-list .product-list-content ul li a .img-product{
	height: 75px;
	width: 100%;
	text-align: center;
}
.product-list .product-list-content ul li a .img-product img{
	height: 100%;
	width: auto;
}
.product-list .product-list-content ul li a .product-info{
	text-align: center;
}
.product-list .product-list-content ul li a:hover{
	text-decoration: none;
}
.product-list .product-list-content ul li a .product-info .product-name{
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    color: #222;
}
@media only screen and (max-width: 600px) {
  .table-list .table-list-content ul li{
  	width: calc(100% * (1/3) - 12px );
  }
}
/* CSS Admin */
.dashboard-title{
	padding:14px 0px;
	color: #0094DA;
	font-size: 20px;
}
.resport-box .resport-icon{
	float: left;
	width: 20%;
}
.resport-box .resport-icon i{
	margin-top:20px;
	font-size: 20px;
	border-radius: 100%;
	width: 40px;
	padding:10px;
	color: #fff;
	height: 40px;
	text-align: center;
}
.resport-box.resport-blue i{
	background: #0094DA;
}
.resport-box.resport-green i{
	background: #4BAC4D;
}
.resport-box.resport-red i{
	background: #F7A959;
}
.resport-box .resport-data{
	float: left;
	width: 80%;
}
.resport-box .resport-data p{
	margin: 0;
}
.resport-box h4{
	margin: 0;
}
.resport-box.resport-blue h4{
	color: #0094DA;
}
.resport-box.resport-green h4{
	color: #4BAC4D;
}
.resport-box.resport-red h4{
	color: #F7A959;
}
.tab-content {
	padding: 15px 0px;
}
.table .thead-light{
	background: #DCF4FC;
}


.register{
	background: -webkit-linear-gradient(left, #3931af, #00c6ff);
	margin-top: 3%;
	padding: 3%;
}
.register-left{
	text-align: center;
	color: #fff;
	margin-top: 4%;
}
.register-left .btn-login{
	border: none;
	border-radius: 1.5rem;
	padding: 2%;
	width: 60%;
	background: #f8f9fa;
	font-weight: bold;
	color: #383d41;
	margin-top: 30%;
	margin-bottom: 3%;
	cursor: pointer;
	outline: none;
    display: inline-block;
    text-decoration: none;
}
.register-right{
	background: #f8f9fa;
	border-radius: 10px;
}
.register-left img{
	margin-top: 15%;
	margin-bottom: 5%;
	width: 25%;
}
.register-left p{
	font-weight: lighter;
	padding: 12%;
	margin-top: -9%;
}
.register .register-form{
	padding: 10%;
	margin-top: 10%;
}
.btnRegister{
	float: right;
	margin-top: 10%;
	border: none;
	border-radius: 1.5rem;
	padding: 2%;
	background: #0062cc;
	color: #fff;
	font-weight: 600;
	width: 50%;
	cursor: pointer;
	outline: none;
}
.register .nav-tabs{
	margin-top: 3%;
	border: none;
	background: #0062cc;
	border-radius: 1.5rem;
	width: 28%;
	float: right;
}
.register .nav-tabs .nav-link{
	padding: 2%;
	height: 34px;
	font-weight: 600;
	color: #fff;
	border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
	border: none;
}
.register .nav-tabs .nav-link.active{
	width: 100px;
	color: #0062cc;
	border: 2px solid #0062cc;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
}
.register-heading{
	text-align: center;
	margin-top: 8%;
	margin-bottom: -15%;
	color: #495057;
}
.signin-wrapper {
	display: flex;
	justify-content: center;
	height: 100%;
	background-color: #f5f5f5;
}
.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
	text-align: center;
}
.form-signin .checkbox {
	font-weight: 400;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#area-list button {
   margin-right: 10px;
}

#category-list button {
    margin-right: 10px;
}

#table-list li.active {
    background-color: orange;
}