﻿
@{
    ViewBag.Title = "Đăng nhập";
}

<div class="signin-wrapper">
    <div class="form-signin">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Đăng nhập</h1>
        <input type="email" id="emailEmployee" class="form-control" placeholder="Tài khoản" required autofocus>
        <input type="password" id="passwordEmployee" class="form-control" placeholder="Mật khẩu" required>
        <div class="checkbox mb-3">
            <input type="checkbox" value="remember-me"> Remember me
        </div>
        <button class="btn btn-lg btn-primary btn-block" onclick="loginEmployee()">Đăng nhập</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
    </div>
</div>

<script>
    function loginEmployee() {
        var emailEmployee = $("#emailEmployee").val(),
            passwordEmployee = $("#passwordEmployee").val();

        $.ajax({
            url: "/Employee/Login",
            method: "POST",
            data: {
                Email: emailEmployee,
                Password: passwordEmployee
            },
            success: function (result) {
                if (result.isSuccess) {
                    alert("Đăng nhập tài khoản thành công");
                    window.location = "/Customer/Index";
                } else {
                    alert("Sai tài khoản hoặc mật khẩu");
                }
            }
        })
    }

</script>