﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đăng kí";
}

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Chào mừng</h3>
            <p>Phần mềm quản lý cafe Cao Phương - 1711217</p>
            <a class="btn-login" href="Index">Đăng nhập</a>
        </div>
        <div class="col-md-9 register-right">
            <h3 class="register-heading">Đăng kí nhân viên</h3>
            <div class="row register-form">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="nameEmployee" placeholder="Họ và tên *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="passwordEmployee" placeholder="Mật khẩu *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="passwordConfirmEmployee" placeholder="Nhập lại mật khẩu *" value="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="email" class="form-control" id="emailEmployee" placeholder="Email *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" minlength="10" maxlength="10" id="phoneEmployee" name="txtEmpPhone" class="form-control" placeholder="Điện thoại" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="addressEmployee" placeholder="Địa chỉ" value="" />
                    </div>
                    <button class="btnRegister" onclick="registerEmployee()">Đăng kí</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function registerEmployee() {
        var nameEmployee = $("#nameEmployee").val(),
            passwordEmployee = $("#passwordEmployee").val(),
            passwordConfirmEmployee = $("#passwordConfirmEmployee").val(),
            emailEmployee = $("#emailEmployee").val(),
            phoneEmployee = $("#phoneEmployee").val();

        if (passwordEmployee != passwordConfirmEmployee) {
            alert("Nhập lại mật khẩu không khớp");
            return;
        }

        $.ajax({
            url: "/Employee/Register",
            method: "POST",
            data: {
                Name: nameEmployee,
                Pass: passwordEmployee,
                Email: emailEmployee,
                Phone: phoneEmployee
            },
            success: function (isSuccess) {
                if (isSuccess) {
                    alert("Đăng kí tài khoản thành công");
                    window.location = "Login";
                }
            },
            error: function () {
                alert("Đăng kí tài khoản thất bại")
            }
        })
    }
</script>