﻿
@{
    ViewBag.Title = "Thực đơn";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

<div class="result-content">
    <div class="row">
        <div class="col-md-5">
            <h2>Danh sách thực đơn</h2>
        </div>
        <div class="col-md-7 text-right action">
            <button class="btn btn-success" data-toggle="modal" data-target="#MenuModal"><i class="fa fa-plus" aria-hidden="true"></i>Thêm món ăn</button>
            <button class="btn btn-success" data-toggle="modal" data-target="#AddCategoryModal"><i class="fa fa-th-list" aria-hidden="true"></i>Thêm danh mục</button>
        </div>
    </div>
    <div class="row filter-search">
        <div class="col-md-5 form-group">
            <input type="text" id="txtSearchMenu" placeholder="Nhập mã hoặc tên sản phẩm" class="form-control">
        </div>
        <div class="col-md-3 form-group">
            <select class="form-control">
                <option>Đang kinh doanh</option>
                <option>Ngừng kinh doanh</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <select class="form-control">
                <option>Đồ ăn</option>
                <option>Thức uống</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <button class="btn btn-primary" onclick="searchMenu()"><i class="fa fa-search" aria-hidden="true"></i> Tìm</button>
        </div>
    </div>
    <div class="row content-product">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>Mã</th>
                        <th>Tên món ăn</th>
                        <th>Giá bán</th>
                        <th>Hình ảnh</th>
                        <th>Nhóm thực đơn</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="MenuModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="MenuTitleModal">Thêm món ăn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Tên món</b>
                        </div>
                        <div class="col-md-8">
                            <input type="hidden" name="idMenu" class="form-control">
                            <input type="text" name="nameMenu" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Giá bán</b>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="priceMenu" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Nhóm thực đơn</b>
                        </div>
                        <div class="col-md-8">
                            <select id="categoryMenu" class="form-control" name="areas-id">
                                <option value="1">Đồ ăn</option>
                                <option value="2">Đồ uống</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <b>Ảnh thực đơn</b>
                        </div>
                        <div class="col-md-8">
                            <input type="file" class="form-control-file" id="uploadImageMenu" onchange="uploadImage()">
                            <img id="menuImagePreview" class="imagePreview" src="" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="saveMenu()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button>
                    <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i> Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var isCreated = true;

    retrieveMenu();

    function uploadImage() {
        var formData = new FormData();

        var file = document.getElementById("uploadImageMenu").files[0];

        formData.append("uploadImageMenu", file);

        $.ajax({
            type: "POST",
            url: '/Menu/Upload',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (result) {
                $("#menuImagePreview").attr("src", result.Image_path);
            }
        })
    }

    function appendMenuList(menus) {
        $("tbody tr").remove();

        for (var menu of menus) {
            $("tbody").append(`<tr>
                        <td>M0${menu.Id}</td>
                        <td>${menu.Name}</td>
                        <td>${menu.Price} đ</td>
                        <td><img width="50px" src="${menu.Image}"></td>
                        <td>${menu.CategoryName}</td>
                        <td>
                            <i class="fa fa-trash" aria-hidden="true" onclick="deleteMenu(${menu.Id})"></i>
                            <i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#MenuModal" onclick="getDetailMenu(${menu.Id})"></i>
                        </td>
                    </tr>`)
        }
    }

    function retrieveMenu() {
        $.ajax({
            url: "/Menu/RetrieveMenu",
            method: "GET",
            success: function (menus) {
                appendMenuList(menus)
            }
        })
    }

    function clearDataModal() {
        $("#MenuTitleModal").text("Thêm thực đơn");
        $("input[name='idMenu']").val("");
        $("input[name='nameMenu']").val("");
        $("input[name='priceMenu']").val("");
        $("#categoryMenu").val("0");
    }

    function saveMenu() {
        var url = "";

        if (isCreated) {
            url = "/Menu/AddMenu";
        } else {
            url = "/Menu/EditMenu";
        }

      
        var idMenu = $("input[name='idMenu']").val(),
            nameMenu = $("input[name='nameMenu']").val(),
            priceMenu = $("input[name='priceMenu']").val(),
            categoryMenu = $("#categoryMenu").val(),
            imagePath = $("#menuImagePreview").attr("src");

        $.ajax({
            url: url,
            method: "POST",
            data: {
                Id: idMenu,
                Name: nameMenu,
                Price: priceMenu,
                Image_path: imagePath,
                CategoryId: categoryMenu
            },
            success: function (isSuccess) {
                if (isSuccess) {
                    $("#MenuModal").modal('hide');
                    retrieveMenu();
                }
            }
        })
    }

    function deleteMenu(menuId) {
        bootbox.confirm({
            message: "Bạn có chắc chắn muốn xóa thực đơn " + menuId + " không?",
            buttons: {
                confirm: {
                    label: 'Đồng ý',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hủy bỏ',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: "/Menu/DeleteMenu/" + menuId,
                        method: "POST",
                        dataType: 'json',
                        success: function (isSucces) {
                            if (isSucces) {
                                alert("Bạn đã xóa thành công");
                                retrieveMenu();
                            }
                        }
                    })
                }
            }
        });
    }

    function getDetailMenu(menuId) {
        isCreated = false;

        $.ajax({
            url: "/Menu/getMenuDetail/" + menuId,
            method: "GET",
            dataType: 'json',
            success: function (menu) {
                if (menu) {
                    $("input[name='idMenu']").val(menu.Id);
                    $("input[name='nameMenu']").val(menu.Name);
                    $("input[name='priceMenu']").val(menu.Price);
                    $("#categoryMenu").val(menu.CategoryId);
                    $("#menuImagePreview").attr("src", menu.Image);
                    $("#MenuTitleModal").text("Cập nhật thực đơn");
                }
            }
        })
    }

    $("#MenuModal").on("hidden.bs.modal", function () {
        clearDataModal();
        isCreated = true;
    });

    function searchMenu() {
        var txtSearch = $("#txtSearchMenu").val();

        $.ajax({
            url: "/Menu/searchMenu",
            method: "GET",
            data: {
                textSearch: txtSearch
            },
            dataType: 'json',
            success: function (menus) {
                appendMenuList(menus);
            }
        })
    }
</script>